name: Main

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Deploy to GitHub pages
        run: |
          git config --global user.email "oliver.viljamaa@gmail.com"
          git config --global user.name "Oliver Viljamaa"
          yarn export
          yarn deploy -t ${{ secrets.TOKEN }}
